.container
  .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
    .login-panel.panel.panel-default
      .panel-heading
        %h2.text-center.mb20
          Edit #{resource_name.to_s.humanize}
      .panel-body
        = simple_form_for(resource, as: resource_name, wrapper: 'default' , url: registration_path(resource_name), html: { method: :put }) do |f|
          .form-inputs
            = f.input :email, placeholder: AdminUser.human_attribute_name(:email), required: false, input_html: {class: "form-control"}
            = f.input :password, placeholder: AdminUser.human_attribute_name(:password), required: false, input_html: {class: "form-control"}
            = f.input :password_confirmation, placeholder: AdminUser.human_attribute_name(:password_confirmation), required: false, input_html: {class: "form-control"}
            = f.input :current_password, placeholder: AdminUser.human_attribute_name(:current_password), required: false, hint: "we need your current password to confirm your changes", input_html: {class: "form-control"}            
          %div.devise-button
            = f.button :submit, "Update" ,class: "btn btn-block btn-lg btn-success"
        = render "devise/shared/links"