!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "initial-scale=1", :name => "viewport"}/
    %title
      = content_for(:title)
      | Contigo Mujer
    = stylesheet_link_tag "admin/application", media: "all"
    = csrf_meta_tags
  %body
    = render partial: "layouts/flash_messages"
    #wrapper
      = render partial: "layouts/administrate/navbar"
      #page-wrapper
        = yield      
    = render partial: "layouts/administrate/javascript"          
